name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    env:
      IMAGE_TAG: wxhededit:ubuntu-24.04-${{ github.sha }}
    steps:
    - uses: actions/checkout@v4
    - name: Test Ubuntu build
      run: docker build -f ./Docker/Dockerfile.ubuntu-24.04 -t ${IMAGE_TAG} .
